
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
        <h2>Welcome</h2>
        <h2>to</h2>
        <h2>ThinkBridge</h2>
        <h2>Assignment</h2>
        <h2>by Rahul D Bhalekar</h2>
    </div>
    <div class="col-md-4"></div>
</div>
